<div id="add_form">
  <form method="post" action="/addsave">
    <label for="left">Кой</label> <input type="text" id="left" name="left"/><br />
    <label for="action">Какво</label> <input type="text" id="action" name="action"/><br />
    <label for="right">Кого</label><input type="text" id="right" name="right"/><br />
    <label for="dfrom">От кога</label><input type="text" id="dfrom" name="dfrom"/><br />
    <label for="dto">До кода</label><input type="text" id="dto" name="dto"/><br />
    <label for="ref">Източник</label><input type="text" id="ref" name="ref"/><br />
    <input type="submit" value="Добави" />
  </form>
</div>
